<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-4 col-lg-6 col-lg-offset-3">
        <h1>Profile</h1>

        <h2>Hello, {{user.name}}</h2>
        <img ng-src="{{user.avatar_url}}" class="img-responsive img-rounded img-thumbnail"/>
        <div class="clearfix"></div>
        <form name="changeNicknameForm" ng-submit="changeNicknameForm.$valid && changeNickname()">
            <div class="form-group" ng-class="{'has-error': changeNicknameForm.nickname.$invalid && changeNicknameForm.nickname.$dirty}">
                <label>Nickname:</label>
                <input type="text" name="nickname" ng-model="user.nickname" minlength="4" maxlength="50" required class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Change nickname</button>
        </form>
    </div>
</div>