<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-4 col-lg-6 col-lg-offset-3">

        <h3>Hello, {{user.name}}</h3>
        <img ng-src="{{user.avatar_url}}" class="img-responsive img-rounded img-thumbnail profile-avatar"/>
        <div class="clearfix"></div>
        <form name="changeNicknameForm" ng-submit="changeNicknameForm.$valid && changeNickname()">
            <div class="form-group" ng-class="{'has-error': changeNicknameForm.nickname.$invalid && changeNicknameForm.nickname.$dirty}">
                <label>Nickname:</label>
                <input type="text" name="nickname" ng-model="user.nickname" minlength="4" maxlength="50" required class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Change nickname</button>
        </form>
        <form ng-submit="updateAvatar()">
            <div class="form-group">
                <label>Customize avatar</label>
                <input type="checkbox" ng-model="customizeAvatar">
            </div>
            <div class="form-group" ng-show="customizeAvatar">
                <label>Avatar URL</label>
                <input type="url" ng-model="user.new_avatar_url" required>
            </div>
            <button type="submit" class="btn btn-primary">Change avatar</button>
        </form>
        <h4>Topics with my opinions:</h4>
        <ul>
            <li ng-repeat="topic in user.topics">
                <a href="/#/topics/{{topic.id}}">{{topic.theme}}</a>
            </li>
        </ul>

    </div>
</div>