<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
        <h3>{{topic.theme}}</h3>
        <div ng-repeat="opinion in topic.opinions" class="opinion">
            <div class="upvote">
                <span class="glyphicon glyphicon-chevron-up" ng-click="upvote(opinion)"
                      ng-class="{'selected-upvote': opinion.vote == 'upvote'}"></span>
                <span class="upvote-number">{{rating(opinion)}}</span>
                <span class="upvote-down">
                    <span class="glyphicon glyphicon-chevron-down" ng-click="devote(opinion)"
                          ng-class="{'selected-upvote': opinion.vote == 'devote'}"></span>
                </span>
            </div>
            <img ng-src="{{opinion.avatar_url}}" class="avatar-small"/>
            <h4>{{opinion.nickname}}</h4>
            <p>{{opinion.content}}</p>
            <button class="btn btn-primary" ng-show="loggedIn() && !(commentedOpinionId === opinion.id)" ng-click="showCommentForm(opinion)"
                    >Comment
            </button>
            <button class="btn btn-danger" ng-click="showEditForm(opinion)"
                    ng-hide="editedOpinionId === opinion.id || wrongUser(opinion)">Edit
            </button>
            <div class="comments">
                <div class="comment" ng-repeat="comment in opinion.comments">
                    <img ng-src="{{comment.avatar_url}}" class="comment-avatar">
                    <h5 class="comment-author">{{comment.author}}</h5>
                    <p class="comment-content">{{comment.content}}</p>
                    <button ng-hide="wrongUserComment(comment) || editedComment === comment.id" ng-click="showEditCommentForm(comment)" class="btn btn-danger btn-comment">Edit</button>
                    <button ng-hide="wrongUserComment(comment)" ng-click="deleteComment(comment)" class="btn btn-danger btn-comment">Delete</button>
                    <form name="comment.editComment" ng-show="editedComment === comment.id"
                          ng-submit="comment.editComment.$valid && editComment(comment)">
                        <div class="form-group" ng-class="{'has-error': comment.editComment.commentInput.$invalid}">
                            <label>Comment</label>
                    <textarea ng-model="comment.content" name="commentInput" class="form-control" required
                              minlength="2"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Comment</button>
                        <button class="btn btn-default" ng-click="hideEditCommentForm()">Hide</button>
                    </form>
                </div>
            </div>
            <form name="opinion.commentOpinion" ng-show="commentedOpinionId === opinion.id"
                  ng-submit="opinion.commentOpinion.$valid && comment(opinion)">
                <div class="form-group" ng-class="{'has-error': opinion.commentOpinion.commentInput.$invalid}">
                    <label>Comment</label>
                    <textarea ng-model="opinion.comment" name="commentInput" class="form-control" required
                              minlength="2"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Comment</button>
                <button class="btn btn-default" ng-click="hideCommentForm()">Hide</button>
            </form>
            <form name="opinion.editOpinion" ng-show="editedOpinionId === opinion.id"
                  ng-submit="opinion.editOpinion.$valid && updateOpinion(opinion)">
                <div class="form-group" ng-class="{'has-error': opinion.editOpinion.contentInput.$invalid}">
                    <label>Content</label>
                    <textarea ng-model="opinion.content" name="contentInput" class="form-control" required
                              minlength="2"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Edit</button>
                <button class="btn btn-default" ng-click="hideEditForm()">Hide</button>
            </form>
        </div>
        <div class="clearfix"></div>
        <form ng-show="loggedIn()" name="createOpinionForm" ng-submit="createOpinionForm.$valid && createOpinion()">
            <div class="form-group">
                <label>Content</label>
                <textarea ng-model="newOpinion.content" minlength="2" class="form-control"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <div class="topic-pagination">
                <ul class="pagination">
                    <li>
                        <a href="" ng-click="fetchOpinions(1)" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li><a href="" ng-show="pagination.previosPage()" ng-click="fetchOpinions(pagination.previosPage())">{{pagination.previosPage()}}</a></li>
                    <li class="active"><a href="" ng-show="pagination.currentPage()" ng-click="fetchOpinions(pagination.currentPage())" >{{pagination.currentPage()}}</a></li>
                    <li><a href="" ng-show="pagination.nextPage()" ng-click="fetchOpinions(pagination.nextPage())">{{pagination.nextPage()}}</a></li>
                    <li>
                        <a href="" aria-label="Next" ng-click="fetchOpinions(topic.pageCount)">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>

        </div>
    </div>
</div>
