.avatar {
    float: left;
    width: 100px;
    margin-right: 20px;
}
.upvote {
    float: left;
    position: relative;
    height: 50px;
    margin-right: 10px;
    width: 25px;
}
.selected-upvote {
    color: #c9302c;
}
.upvote-down {
    position: absolute;
    bottom: 0;
    left: 0;
}
.upvote-number {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.avatar-small {
    float: left;
    width: 50px;
    margin-right: 10px;
}
.preview {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 90%;
}
h1 {
    margin-top: 0;
}
.profile-avatar {
    margin-bottom: 15px;
}
h3 {
    margin-top: 0;
}
textarea {
    resize: vertical;
}
.topic, .opinion {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 5px;
    margin-top: 10px;
    margin-bottom: 5px;
}
.topic-theme, .topic-author {
}
.topic-theme {
}
.topic-author {
}